<div class="col-md-6">
    <h2 class="text-center">Add Employee</h2>
    <form>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="name" [(ngModel)]="model.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input [(ngModel)]="model.lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
        </div>


        <div class="form-group">
            <label for="email">Emmail:</label>
            <input [(ngModel)]="model.email" placeholder="Emmail" name="email" class="form-control" id="email">
        </div>

        <button class="btn btn-success" (click)="cancel()">Cancel</button>
        <button class="btn btn-success" (click)="save()">Save</button>
    </form>
</div>